{% extends 'base.html' %}


{% block content %}

<style>
  .btn-eq { min-width: 80px; }
  .btn-black { color: #000 !important; }
  .item-compact { padding-top: .25rem; padding-bottom: .25rem; }
</style>

<div class="container mt-3">
  <div class="row justify-content-center">
    <div class="col-12 col-md-10 col-lg-8">
      <h1 class="h4 mb-2 text-center" >{{ titulo }}</h1>

      {% if personas %}
        <div class="list-box">
          <ul class="list-unstyled mb-0">
            {% for persona in personas %}
              <li class="border-bottom item-compact">
                <div class="d-flex flex-column flex-sm-row align-items-sm-center">
                  <span class="flex-grow-1 me-sm-3 text-truncate">
                    {{ persona }}
                  </span>

                  <div class="d-grid gap-1 d-sm-flex">
                    <a class="btn btn-info btn-sm px-3 btn-eq btn-black" href="{% url 'persona:detalle' persona.pk %}">Ver</a>
                    <a class="btn btn-warning btn-sm px-3 btn-eq btn-black" href="{% url 'persona:editar' persona.pk %}">Modificar</a>
                    <a class="btn btn-danger btn-sm px-3 btn-eq btn-black" href="{% url 'persona:eliminar' persona.pk %}">Eliminar</a>
                  </div>
                </div>
              </li>
            {% endfor %}
          </ul>
        </div>

        <div class="pt-2">
          {% include 'paginator.htm' %}
        </div>
      {% else %}
        <p>No hay personas registradas.</p>
      {% endif %}
    </div>
    <div class="container mt-1">
      <div class="row justify-content-center">
        <a class="text-center text-dark text-decoration-none" href="{% url 'persona:crear' %}">Crear nueva persona</a>
      </div>
  </div>
</div>
{% endblock content %}
