{% extends 'base.html' %}


{% block content %}

<style>
  .btn-eq { min-width: 80px; }
  .btn-black { color: #000 !important; }
  .item-compact { padding-top: .25rem; padding-bottom: .25rem; }
</style>

<div class="container mt-3">
  <div class="row justify-content-center">
    <div class="col-12 col-md-10 col-lg-8">
      <h1 class="h4 mt-2 mb-2 text-center">{{ titulo }}</h1>

      {% if oficinas %}
        <div class="list-box">
          <ul class="list-unstyled mb-0">
            {% for oficina in oficinas %}
              <li class="border-bottom item-compact">
                <div class="d-flex flex-column flex-sm-row align-items-sm-center">
                  <span class="flex-grow-1 me-sm-3 text-truncate">
                    {{oficina}}
                  </span>

                  <div class="d-grid gap-1 d-sm-flex">
                    <a class="btn btn-info btn-sm px-3 btn-eq btn-black" href="{% url 'oficina:detalle' oficina.pk %}">Ver</a>
                    <a class="btn btn-warning btn-sm px-3 btn-eq btn-black" href="{% url 'oficina:editar' oficina.pk %}">Modificar</a>
                    <a class="btn btn-danger btn-sm px-3 btn-eq btn-black" href="{% url 'oficina:eliminar' oficina.pk %}">Eliminar</a>
                  </div>
                </div>
              </li>
            {% endfor %}
          </ul>
        </div>

        <div class="pt-2">
          {% include 'paginator.htm' %}
        </div>
      {% else %}
        <p>No existen oficinas cargadas</p>
      {% endif %}

    </div>
    <div class="container mt-3 row justify-content-center ">
        <a class="text-center text-dark text-decoration-none " href="{% url 'oficina:crear' %}">Crear nueva oficina</a>
        <a class="text-center text-dark text-decoration-none ml-3" href="{% url 'oficina:buscar' %}">Buscar oficina</a>
    </div>
  </div>
</div>
{% endblock content %}